<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yutian.mapper.UserInfoMapper">
	
	<resultMap  id="RM_USERINFO" type="com.yutian.model.UserInfo">
		<result property="id"  column="id"/>
		<result property="userName" column="username"/>
	</resultMap>
	
	<sql id="columns">
		<![CDATA[
		id,username
		]]>
	</sql>
	
	<select id="getUserInfoById" resultMap="RM_USERINFO" parameterType="java.lang.String">
		select 
     <include refid="columns" />
    		 from USERINFO
	     where id = #{id,jdbcType=INTEGER}
	</select>
	

</mapper>